.custom-client-row {
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 50px;
}

.custom-bg-for-one {
    background-color: #e94d65;
    padding:20px;
}

.customs-bg-for-two  {
    background-color: #EBEBEB;
    padding:20px;
}

.custom-section-parent {
    display: flex;
    gap: 20px;
    align-items: center;
}

.custom-section-icon-wrap {
    background-color: #fff;
    color: #000;
    padding: 5px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.custom-section-icon-wrap i {
    color: #bb0b0b;
    font-size: 24px;
}

.custom-section-icon-two-wrap {
    background-color: #043D72;
    color: #000;
    padding: 5px;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.custom-section-icon-two-wrap i{
    color: #fff;
    font-size: 24px;
}

.custom-client-content-style {
    margin-top: 10px;
}

.custom-client-content-style span{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 400;
}

.custom-client-content-style-two {
    margin-top: 10px;
}

.custom-client-content-style-two span{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-weight: 400;
}

.custom-client-content-style-two span a {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #000;
    font-weight: 400;
    text-decoration: none;
    border: 2px solid #e94d65;
    padding: 5px;
    border-radius: 5px;
    transition: 0.2s all;
}

.custom-client-content-style-two span a:hover {
    transform: scale(1.1);
    color: #fff;
    background-color: #e94d65;
}


.custom-client-content-style-three {
    margin-top: 10px;
}

.custom-client-content-style-three span a{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 5px;
}

.custom-client-content-style-three span a:hover{
    color: #fff;
    background-color: #043D72;
    border: 2px solid #043D72;
    border: none;
}

.custom-client-content-style-three span {
    color: #fff;
}

.counter-number span{
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

/* our service section */
.icon-position {
    display: flex;
    justify-content: center;
}

.content-part {
    text-align: center;
}

.service-wrap .service-icon {
    margin-bottom: 30px;
    margin-top: 30px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #043d72;
    color: #fff;
    border-radius: 2px;
    transform: rotate(-45deg);
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
}


/* all vat page css start from here */
.all-vat-card {
    background-color: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 5px;
    padding: 5px;
}

.all-vat-card-wrap {
    padding: 10px;
}

.all-vat-card-wrap p {
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    color: #000;
    margin: 0px;
    padding: 0px;
}

.all-vat-card-wrap p span {
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    color: #0582AE;
    margin: 0px;
    padding: 0px;
    padding-left: 5px;
}

.custom-apply-btn {
    padding-top: 10px;
}

.all-vat-card-wrap a {
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: #2BB1E0;
    padding: 5px 30px;
    border-radius: 3px;
}

/* Add post job stylign*/

.custom-apply-btn a {
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background-color: #bb0b0b;
    padding: 5px 20px;
    border-radius: 3px;
}

/* User Dashboard styling */
.myaccount-heading h4 span {
    color: #bb0b0b;
}

.account-menu-list {
    background-color: #fff;
    padding: 10px;
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
    border-radius: 5px;
}

.account-menu-list ul li {
    padding: 3px 0px;
    border-bottom: 1px solid #EBEBEB;
}

.account-menu-list ul li a{
    color: #000;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}

.account-menu-list ul li:nth-child(7){
    border-bottom: none!important;
}

.account-menu-list ul li a:hover{
    color: #bb0b0b;
}


/* my offer page css for datatable */

div#example_filter  {
    text-align: right;
}

div#example_filter label {
    text-align: left;
}

div#example2_filter  {
    text-align: right;
}

div#example2_filter label {
    text-align: left;
}
div#example3_filter  {
    text-align: right;
}

div#example3_filter label {
    text-align: left;
}

div#example4_filter  {
    text-align: right;
}

div#example4_filter label {
    text-align: left;
}